.example-form {
  width: 100%;
}
.example-full-width {
  width: 100%;
}

.card-login {
  margin-left: 30%;
  margin-right: 30%;
  padding-left: 60px;
  padding-right: 60px;
  margin-top: 150px;
  text-align: center;
}

.button-login {
  margin: 2px;
}

@media (max-width: 600px) {
  .card-login {
    margin-left: 5%;
    margin-right: 5%;
  }
}
