table {
  width: 100%;
}
.grafico{
  width: 45%;
  padding: 30px;
  margin: 10px;
}

.mat-elevation-z8{
  margin: 15px 150px;
}

mat-tab-group{
  margin-top: 20px;
}

.mat-header-cell {
  background: #3F51B5;
  color: white;
}

@media (max-width: 600px) {
  .mat-elevation-z8{
    margin: 5px 10px;
  }
}
