<mat-card class="card-login">
  <form (ngSubmit)="saveUsuario()" class="example-form">
    <img width="250px"  src="../../assets/img/satclogo.png">

    <mat-form-field class="example-full-width">
      <mat-label>Informe um Email</mat-label>
      <input [(ngModel)]="email" matInput [formControl]="emailInput"
             placeholder="Ex. AngularAuth@example.com" required>
      <mat-hint> Nunca compartilharemos seu e-mail com mais ninguém.</mat-hint>
      <mat-error *ngIf="emailInput.hasError('email') && !emailInput.hasError('required')">
        Informe um email válido por favor.
      </mat-error>
      <mat-error *ngIf="emailInput.hasError('required')">
        O email é <strong>obrigatório</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Nome</mat-label>
      <input [(ngModel)]="nome" maxlength="200" matInput [formControl]="nomeInput"
             placeholder="Ex. Vinícius" required>
      <mat-hint>Informe seu nome</mat-hint>
      <mat-error *ngIf="nomeInput.hasError('required')">
        O nome é <strong>obrigatório</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Sobrenome</mat-label>
      <input [(ngModel)]="sobrenome" maxlength="200" matInput [formControl]="sobrenomeInput"
             placeholder="Ex. de Souza" required>
      <mat-hint>Informe seu sobrenome</mat-hint>
      <mat-error *ngIf="sobrenomeInput.hasError('required')">
        O sobrenome é <strong>obrigatório</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input [formControl]="passwordInput" [(ngModel)]="password" matInput placeholder="Senha"
             [type]="hide ? 'password' : 'text'" required>
      <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      <mat-hint *ngIf="!passwordInput.value">Informe sua senha forte</mat-hint>
      <mat-error *ngIf="passwordInput.hasError('required')">
        A senha é <strong>obrigatória</strong>
      </mat-error>
    </mat-form-field>
    <br><br>
    <div style="text-align: right">
      <button class="button-login" type="submit" mat-raised-button color="primary">Cadastrar</button>
      <button [routerLink]="'/login'" class="button-login" mat-raised-button color="primary">Já possui um login?
      </button>
    </div>
  </form>
</mat-card>
